Dashboard page
<script>
    const handleChange = () => {
        const file = document.getElementById('inputFile')
        document.getElementById('hiddenName').value = file.files[0].name
        // console.log(file.files[0].name)
        // console.log('here')
    }
</script>
<pre><%= results %></pre>


<form method="post" action="/uploadFile">
    <input type="file" id="inputFile" onchange="return handleChange()">
    <input type="hidden" name="FileName" id="hiddenName" value='Default' />
    <button type="submit"> Upload</button>
</form>