<%- include('widgets/header') -%>
    <div class=" p-4 h-full text-center text-xl font-roboto bg-primaryPink">

        <a href="/auth/google" class="" >Login with Google</a>
    </div>
<%- include('widgets/footer') -%>